@font-face {
  font-family: TT Hoves-R;
  src: url(./assets/fonts/TTHoves-Regular.ttf);
}
@font-face {
  font-family: TT Hoves-M;
  src: url(./assets/fonts/TTHoves-Medium.ttf);
}
@font-face {
  font-family: TT Hoves-L;
  src: url(./assets/fonts/TTHoves-Light.ttf);
}
@font-face {
  font-family: TT Hoves-B;
  src: url(./assets/fonts/TTHoves-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--main-text-color);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--main-text-color);
  font-family: TT Hoves-L;
}

:root {
  --main-text-color: #333333;
  --input-text: #8d8d8d;
  --secondary-text-color: #bdbdbd;
  --border-color: #f2f2f2;
  --input-color: #f3f3f3;
  --white: #fff;
  --secondary-white: #fbfbfb;
}

button {
  width: 223px;
  height: 71px;

  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: TT Hoves-R;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 2.4px;
  cursor: pointer;
}

.container {
  padding: 0 135px;
}

.logo {
  width: 70px;
  margin: 29.14px 0;
}

.section {
  margin-bottom: 120px;
}

.main-nav {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  &__item {
    margin: 40px 0px;
    position: relative;
    font-family: TT Hoves-R;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 2.4px;
    text-align: center;
    max-height: 19px;

    &--current::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--main-text-color);
    }

    &--current::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--main-text-color);
    }
  }
}

.hero {
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 64px;
    color: var(--secondary-text-color);
    font-weight: 300;
    flex-grow: 2;

    & span {
      color: var(--main-text-color);
      font-family: TT Hoves-B;
      filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));
    }
  }

  &__titel-wrapper {
    display: flex;
    flex-direction: column;
    gap: 90px;
  }

  &__arrow-wrapper {
    display: flex;
    gap: 23px;
    max-width: 130px;
  }

  &__arrow-button {
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    width: 53px;
    height: 53px;
    align-items: center;
    background-color: var(--white);
    cursor: pointer;
  }

  &__counter-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 142px;
  }

  &__counter {
    font-family: TT Hoves-R;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--secondary-text-color);
  }

  &__img-wrapper {
    position: relative;
    max-width: 770px;

    & button {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.85);
    }
  }
}

.about {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  background-color: var(--secondary-white);
  padding: 30px 70px 30px 100px;

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;

    & button {
      background-color: var(--white);
    }
  }

  &__title {
    font-size: 64px;
    color: var(--secondary-text-color);
    line-height: 64px;
    font-weight: 300;
  }

  &__p {
    font-family: TT Hoves-R;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.2px;
  }

  &__img-wrapper {
    display: flex;
    gap: 30px;
    align-items: self-start;
    height: 345px;

    & div {
      display: flex;
      flex-direction: column;
      gap: 30px;
      position: relative;
    }
  }

  &__img {
    max-width: 270px;
    &:last-child {
      margin-top: 30px;
    }
  }

  & .view {
    position: absolute;
    bottom: -170px;
  }
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &__title {
    font-size: 64px;
    color: var(--secondary-text-color);
    line-height: 64px;
    font-weight: 300;
  }

  &__numbers-wrapper {
    display: flex;
    justify-content: space-between;

    & div {
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }

  &__p {
    font-family: TT Hoves-R;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.1px;
    width: 270px;
  }

  &__p.second {
    width: 422px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__title {
    font-size: 64px;
    color: var(--secondary-text-color);
    line-height: 64px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  &__secondary-title {
    font-size: 64px;
    color: var(--white);
    font-family: TT Hoves-B;
    line-height: 64px;
  }

  &__img-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__img-wrapper > div {
    display: flex;
    gap: 30px;

    &:first-child {
      width: 570px;
    }
  }

  &__name-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(
        to right,
        rgba(51, 51, 51, 0.8),
        rgba(51, 51, 51, 0.8)
      ),
      url('/assets/images/OurHead.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 48px 78px 47px 79px;
    & button {
      background-color: transparent;
      color: var(--white);
      justify-content: flex-start;
      max-width: 129px;
      max-height: 24px;

      & svg path {
        fill: var(--white);
      }
    }
  }

  & > button {
    align-self: end;
    margin-right: calc(100% - 1170px);
    background-color: var(--main-text-color);
    color: var(--white);
    & svg path {
      fill: var(--white);
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: var(--input-text);
}

.contactUs {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__title {
    font-size: 64px;
    color: var(--secondary-text-color);
    line-height: 64px;
    font-weight: 300;
  }
  &__content-wrapper {
    display: flex;
    gap: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .contactUs__placeinput input {
      width: 91%;
    }

    & input,
    textarea {
      background-color: var(--input-color);
      color: var(--input-text);
      font-family: TT Hoves-R;
      font-size: 14px;
      line-height: 1.8;
      letter-spacing: 1px;
      outline: none;
      border: none;
      padding: 0 21px;
    }

    & input {
      height: 46px;
    }

    & textarea {
      padding-top: 10px;
      width: 100%;
      resize: none;
      height: 147px;
      box-sizing: border-box;
    }

    & button {
      background-color: var(--main-text-color);
      color: var(--white);
      & svg path {
        fill: var(--white);
      }
    }

    & label.view {
      display: flex;
      align-items: center;
      font-family: TT Hoves-R;
      font-size: 14px;
      color: var(--main-text-color);
      line-height: 1.4;
      letter-spacing: 1px;
      margin: 12px 0;
    }
  }

  &__input-placeholder {
    z-index: 1;
    pointer-events: none;
    left: 21px;
    cursor: text;
    font-family: TT Hoves-R;
    font-size: 14px;
    color: var(--main-text-color);
    line-height: 1.4;
    letter-spacing: 1px;
    position: absolute;
    top: 12px;
    width: 90%;
    display: none;
    color: var(--input-text);
  }

  &__placeinput input:focus-within + &__input-placeholder {
    display: none;
  }

  &__placeinput input:invalid + &__input-placeholder,
  &__placeinput textarea:invalid + &__input-placeholder {
    display: inline;
  }

  &__placeinput {
    position: relative;
    overflow: hidden;
  }

  &__input-placeholder span {
    color: red;
  }

  &__checkbox {
    position: absolute;
    visibility: hidden;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__custom-checkbox {
    position: relative;
    top: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 3px solid var(--input-color);
    background-color: var(--white);
    border-radius: 4px;
    margin-right: 12px;
    flex-shrink: 0;
    cursor: pointer;
  }

  & img {
    height: 369px;
  }
}
