@font-face {
  font-family: TT Hoves-R;
  src: url(./assets/fonts/TTHoves-Regular.ttf);
}
@font-face {
  font-family: TT Hoves-M;
  src: url(./assets/fonts/TTHoves-Medium.ttf);
}
@font-face {
  font-family: TT Hoves-L;
  src: url(./assets/fonts/TTHoves-Light.ttf);
}
@font-face {
  font-family: TT Hoves-B;
  src: url(./assets/fonts/TTHoves-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--main-text-color);
}

img {
  display: block;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--main-text-color);
  font-family: TT Hoves-L;
}

:root {
  --main-text-color: #333333;
  --input-text: #8d8d8d;
  --secondary-text-color: #bdbdbd;
  --border-color: #f2f2f2;
  --input-color: #f3f3f3;
  --white: #fff;
  --secondary-white: #fbfbfb;
  --footer-color: #2c2c2c;
}

.content,
.hero__img-wrapper,
.hero__title,
.about__title-wrapper,
.smooth,
.contactUs__img,
.scroll-right,
.scroll-left,
.scroll-center {
  will-change: transform;
}

button {
  width: 223px;
  height: 71px;

  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: TT Hoves-R;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 2.4px;
  cursor: pointer;
}

.container {
  padding: 0 135px;
  max-width: 1170px;
  margin: 0 auto;
}

.logo {
  width: 70px;
  margin: 29.14px 0;
}

.section {
  margin-bottom: 120px;
}

.main-nav {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-right: 10.6%;
  }

  &__item {
    margin: 40px 0px;
    position: relative;
    font-family: TT Hoves-R;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 2.4px;
    text-align: center;
    max-height: 19px;
    transition: all 0.3s ease-out;

    &:hover {
      opacity: 0.6;
      transition: all 0.3s ease-out;
    }

    &--current::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--main-text-color);

      &:hover {
        opacity: 0.6;
        transition: all 0.3s ease-out;
      }
    }

    &--current::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--main-text-color);

      &:hover {
        opacity: 0.6;
        transition: all 0.3s ease-out;
      }
    }
  }
}

.hero {
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 64px;
    color: var(--secondary-text-color);
    font-weight: 300;
    // flex-grow: 2;
    margin-top: 336px;

    & span {
      color: var(--main-text-color);
      font-family: TT Hoves-B;
      filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));
    }
  }

  &__titel-wrapper {
    display: flex;
    flex-direction: column;
    gap: 90px;
  }

  &__arrow-wrapper {
    display: flex;
    gap: 23px;
    max-width: 130px;
  }

  &__arrow-button {
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    width: 53px;
    height: 53px;
    align-items: center;
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      transition: all 0.3s ease-out;
      transform: scale(1.07);
      border-color: #e2dede;
    }

    & svg {
      pointer-events: none;
    }

    &:disabled {
      opacity: 0.65;
      cursor: auto;

      &:hover {
        transform: scale(1);
        border-color: var(--border-color);
      }
    }
  }

  &__counter-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 142px;
  }

  &__counter {
    font-family: TT Hoves-R;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--secondary-text-color);
  }

  &__img-wrapper {
    position: relative;
    max-width: 770px;
    overflow: hidden;
    display: flex;

    & button {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.85);
      transition: all 0.3s ease-out;

      &:hover {
        transition: all 0.3s ease-out;
        opacity: 0.7;
      }
    }
  }

  &__img.translate {
    transform: translateX(-100%);
    transition: all 0.7s ease-out;
  }

  &__img {
    transition: all 0.7s ease-out;
  }
}

.about {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  background-color: var(--secondary-white);
  padding: 30px 70px 30px 100px;

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;

    & button {
      background-color: var(--white);
      transition: all 1s ease-out;

      &:hover {
        transition: all 0.4s ease-out;
        background-color: #bbb7b710;
      }
    }
  }

  &__title {
    font-size: 64px;
    color: var(--secondary-text-color);
    line-height: 64px;
    font-weight: 300;
  }

  &__p {
    font-family: TT Hoves-R;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.2px;
  }

  &__img-wrapper {
    display: flex;
    gap: 30px;
    align-items: self-start;
    height: 345px;

    & div {
      display: flex;
      flex-direction: column;
      gap: 30px;
      position: relative;
    }
  }

  &__img {
    max-width: 270px;
    &:last-child {
      margin-top: 30px;
    }
  }

  & .view {
    position: absolute;
    bottom: -170px;
  }
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &__title {
    font-size: 64px;
    color: var(--secondary-text-color);
    line-height: 64px;
    font-weight: 300;
  }

  &__numbers-wrapper {
    display: flex;
    justify-content: space-between;

    & div {
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }

  &__p {
    font-family: TT Hoves-R;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.1px;
    width: 270px;
  }

  &__p.second {
    width: 422px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__title {
    font-size: 64px;
    color: var(--secondary-text-color);
    line-height: 64px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  &__secondary-title {
    font-size: 64px;
    color: var(--white);
    font-family: TT Hoves-B;
    line-height: 64px;
  }

  &__img-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__img-wrapper > div {
    display: flex;
    gap: 30px;

    &:first-child {
      width: 570px;
    }
  }

  &__name-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(
        to right,
        rgba(51, 51, 51, 0.8),
        rgba(51, 51, 51, 0.8)
      ),
      url('/assets/images/OurHead.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 48px 78px 47px 79px;
    & button {
      background-color: transparent;
      color: var(--white);
      justify-content: flex-start;
      max-width: 129px;
      max-height: 24px;
      transition: all 0.3s ease-out;

      &:hover {
        opacity: 0.6;
        transition: all 0.3s ease-out;
      }

      & svg path {
        fill: var(--white);
      }
    }
  }

  & > button {
    align-self: end;
    margin-right: calc(100% - 1170px);
    background-color: var(--main-text-color);
    color: var(--white);
    transition: all 0.3s ease-out;

    &:hover {
      opacity: 0.6;
      transition: all 0.3s ease-out;
    }

    & svg path {
      fill: var(--white);
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: var(--input-text);
}

.contactUs {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__title {
    font-size: 64px;
    color: var(--secondary-text-color);
    line-height: 64px;
    font-weight: 300;
  }

  &__content-wrapper {
    display: flex;
    gap: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .contactUs__placeinput input {
      width: 91%;
    }

    & input,
    textarea {
      background-color: var(--input-color);
      color: var(--input-text);
      font-family: TT Hoves-R;
      font-size: 14px;
      line-height: 1.8;
      letter-spacing: 1px;
      outline: none;
      border: none;
      padding: 0 21px;
    }

    & input {
      height: 46px;
    }

    & textarea {
      padding-top: 10px;
      width: 100%;
      resize: none;
      height: 147px;
      box-sizing: border-box;
    }

    & button {
      background-color: var(--main-text-color);
      color: var(--white);
      transition: all 0.3s ease-out;

      &:hover {
        opacity: 0.6;
        transition: all 0.3s ease-out;
      }

      & svg path {
        fill: var(--white);
      }
    }

    & label.view {
      display: flex;
      align-items: center;
      font-family: TT Hoves-R;
      font-size: 14px;
      color: var(--main-text-color);
      line-height: 1.4;
      letter-spacing: 1px;
      margin: 12px 0;
    }
  }

  &__input-placeholder {
    z-index: 1;
    pointer-events: none;
    left: 21px;
    cursor: text;
    font-family: TT Hoves-R;
    font-size: 14px;
    color: var(--main-text-color);
    line-height: 1.4;
    letter-spacing: 1px;
    position: absolute;
    top: 12px;
    width: 90%;
    display: none;
    color: var(--input-text);
  }

  &__placeinput input:focus-within + &__input-placeholder {
    display: none;
  }

  &__placeinput input:invalid + &__input-placeholder,
  &__placeinput textarea:invalid + &__input-placeholder {
    display: inline;
  }

  &__placeinput {
    position: relative;
    overflow: hidden;
  }

  &__input-placeholder span {
    color: red;
  }

  &__checkbox {
    position: absolute;
    visibility: hidden;
    width: 24px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
  }

  &__custom-checkbox {
    position: relative;
    top: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid var(--input-color);
    background-color: var(--white);
    border-radius: 4px;
    margin-right: 12px;
    flex-shrink: 0;
    cursor: pointer;
  }

  &__checkbox:checked + &__custom-checkbox {
    background-color: var(--input-color);
    background-image: url('./assets/logo/accept.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  & img {
    height: 369px;
  }
}

.footer {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  flex-direction: column;
  background-color: var(--footer-color);
  padding: 0 212px 0 116px;

  &__logo {
    width: 145px;
    height: 94px;

    & img {
      transition: all 0.5s ease-out;
    }

    &:hover img {
      transform: scale(1.07);
      transition: all 0.5s ease-out;
    }
  }

  &__content-wrapper {
    padding-top: 58px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
  }

  &__information-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__information__item:not(:last-child) {
    margin-bottom: 16px;
    transition: all 0.5s ease-out;
  }

  &__information__item:hover {
    opacity: 0.65;
    transition: all 0.5s ease-out;
  }

  &__contacts__item {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-bottom: 33px;
  }

  &__contacts__item:first-child {
    margin-bottom: 45px;
    width: 314px;

    & svg {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      & path {
        fill: var(--white);
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: column;

    &__list {
      display: flex;
      gap: 40px;
    }

    &__item svg {
      width: 25px;
      height: 25px;
      transition: all 0.5s ease-out;
    }

    &__item:hover svg path {
      transition: all 0.5s ease-out;
      fill: #289eff;
    }
  }

  & .devider {
    height: 2px;
    background-color: rgba(200, 200, 200, 0.5);
    position: relative;
    transform: translateX(-135px);
    width: 100vw;
  }

  &__policy {
    text-align: center;

    &__p {
      color: rgba(200, 200, 200, 0.5);
      font-family: 'Open Sans';
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0.3px;
      margin: 24px auto;
    }
  }

  & a,
  li {
    color: var(--white);
    font-family: TT Hoves-M;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
  }

  & h4 {
    color: var(--white);
    font-family: TT Hoves-B;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin-bottom: 25px;
  }
}
